<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Helbreder</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body>
        <h1>&#128137;</h1>
        <br>
        <form action="/" method="post">
            <div class="row">
                <div class="column">
                    <p>Choose a module:</p>
                    <br>
                    {{ module | safe }}
                </div>
                <div class="column">
                    <p>Choose an action:</p>
                    <br>
                    {{ action | safe }}
                </div>
                <div class="column">
                    <p>Choose a target:</p>
                    <br>
                    {{ target | safe }}
                </div>
            </div>
            <div class="user">
                <p>Authentication:</p>
                <input type="text" name="Username" placeholder="username">
                <input type="text" name="Password" placeholder="password">
                <br>
                <input type="submit" name="Submit" value="Submit">
            </div>
        </form>
        <br>
        <br>
        <div class="lang_picker">
            <input class="shell_butt" type="image" src="../static/images/bash.png" onclick="showShell()"/>
            <input class="python_butt" type="image" src="../static/images/python.png" onclick="showPython()"/>
        </div>
        <br>
        <div id="playgr_shell" style="display: block;" class="playground_shell">
            <div class="code_mirror" id="shell">
                <div class="cm-linerow"><span class="cm-lineNumber">1</span><span class="cm-builtin">curl&nbsp;</span><span class="cm-attribute">--request</span> POST \</div>
                <div class="cm-linerow"><span class="cm-lineNumber">2</span><span class="cm-builtin"></span><span class="cm-attribute">--url&nbsp;&nbsp;&nbsp;</span> http://helbreder_url/api/endpoint \</div>
                <div class="cm-linerow"><span class="cm-lineNumber">3</span><span class="cm-builtin"></span><span class="cm-attribute">--header&nbsp;</span><span class="cm-string"> 'Accept: application/json'</span> \</div>
                <div class="cm-linerow"><span class="cm-lineNumber">4</span><span class="cm-builtin"></span><span class="cm-attribute">--header&nbsp;</span><span class="cm-string"> 'Authorization: Basic {{ username }}{{ password }}'</span> \</div>
                <div class="cm-linerow"><span class="cm-lineNumber">5</span><span class="cm-builtin"></span><span class="cm-attribute">--header&nbsp;</span><span class="cm-string"> 'Content-Type: application/json'</span>\</div>
                <div class="cm-linerow"><span class="cm-lineNumber">6</span><span class="cm-builtin"></span><span class="cm-attribute">--data&nbsp;</span><span class="cm-string"> '{"namespace": "{{ button_clicked[0] }}", "action": "{{ button_clicked[1] }}", "target_name": "{{ button_clicked[2] }}", "target_kind": "${target}"}'</span></div>
            </div>
            <div class="tooltip">
                <input class="copy_butt" type="image" src="../static/images/copy.png" onclick="copy('shell')" onmouseout="tooltipReset()">
                <span class="tooltiptext" id="myTooltip">Copy</span>
            </div>
        </div>
        <div id="playgr_python" style="display: none;" class="playground_python">
            <div class="code_mirror" id="python">
                <div class="cm-linerow"><span class="cm-lineNumber">1</span><span class="cm-attribute">import&nbsp;</span><span style="color:#f07178;">requests</span></div>
                <div class="cm-linerow"><span class="cm-lineNumber">2</span><span class="cm-builtin"></span><span class="cm-attribute"></span></div>
                <div class="cm-linerow"><span class="cm-lineNumber">3</span><span class="cm-variable">headers</span> = {</div>
                <div class="cm-linerow"><span class="cm-lineNumber">4</span><span class="cm-builtin"></span><span class="cm-string">'Accept':&nbsp;</span><span class="cm-string"> 'application/json',</span></div>
                <div class="cm-linerow"><span class="cm-lineNumber">5</span><span class="cm-builtin"></span><span class="cm-string">'Authorization':&nbsp;</span><span class="cm-string"> "Basic {{ username }}{{ password }}",</span></div>
                <div class="cm-linerow"><span class="cm-lineNumber">6</span>}</div>
                <div class="cm-linerow"><span class="cm-lineNumber">7</span><span class="cm-builtin"></span><span class="cm-attribute"></span></div>
                <div class="cm-linerow"><span class="cm-lineNumber">8</span><span class="cm-variable">json_data</span> = {</div>
                <div class="cm-linerow"><span class="cm-lineNumber">9</span><span class="cm-builtin"></span><span class="cm-string">'namespace':&nbsp;</span><span class="cm-string"> '{{ button_clicked[0] }}',</span></div>
                <div class="cm-linerow"><span class="cm-lineNumber">10</span><span class="cm-builtin"></span><span class="cm-string">'action':&nbsp;</span><span class="cm-string"> '{{ button_clicked[1] }}',</span></div>
                <div class="cm-linerow"><span class="cm-lineNumber">11</span><span class="cm-builtin"></span><span class="cm-string">'target_name':&nbsp;</span><span class="cm-string"> '{{ button_clicked[2] }}',</span></div>
                <div class="cm-linerow"><span class="cm-lineNumber">12</span><span class="cm-builtin"></span><span class="cm-string">'target_kind':&nbsp;</span><span class="cm-string"> '${target}',</span></div>
                <div class="cm-linerow"><span class="cm-lineNumber">13</span>}</div>
                <div class="cm-linerow"><span class="cm-lineNumber">14</span><span class="cm-builtin"></span><span class="cm-attribute"></span></div>
                <div class="cm-linerow"><span class="cm-lineNumber">15</span><span class="cm-variable">response</span>=&nbsp;<span style="color:#f07178;">requests</span>.<span style="color:#C792EA;">post</span>('http://helbreder_url/api/endpoint', headers=headers, json=json_data)</div>
            </div>
            <div class="tooltip">
                <input class="copy_butt" type="image" src="../static/images/copy.png" onclick="copy('python')" onmouseout="tooltipReset()">
                <span class="tooltiptext" id="myTooltip1">Copy</span>
            </div>
        </div>
        <script>
            function showShell() {
                document.getElementById('playgr_shell').style.display = "block";
                document.getElementById('playgr_python').style.display = "none";
            }

            function showPython() {
                document.getElementById('playgr_python').style.display = "block";
                document.getElementById('playgr_shell').style.display = "none";
            }
            
            function copy(id) {
                var r = document.createRange();
                r.selectNode(document.getElementById(id));
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(r);
                document.execCommand('copy');
                window.getSelection().removeAllRanges();

                var tooltip = document.getElementById("myTooltip");
                tooltip.innerHTML = "Copied!";
                var tooltip1 = document.getElementById("myTooltip1");
                tooltip1.innerHTML = "Copied!";
            }

            function tooltipReset() {
                var tooltip = document.getElementById("myTooltip");
                tooltip.innerHTML = "Copy";
                var tooltip1 = document.getElementById("myTooltip1");
                tooltip1.innerHTML = "Copy";
            }
        </script>
    </body>
</html>
