<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Helbreder</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/github-dark.min.css') }}">
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body>
        <h1>&#128137;</h1>
        <br>
        <form action="/" method="post">
            <div class="row">
                <div class="column">
                    <p>Choose a module:</p>
                    <br>
                    {{ module | safe }}
                </div>
                <div class="column">
                    <p>Choose an action:</p>
                    <br>
                    {{ action | safe }}
                </div>
                <div class="column">
                    <p>Choose a target:</p>
                    <br>
                    {{ target | safe }}
                </div>
            </div>
            <div class="user">
                <p>Authentication:</p>
                <input type="text" name="Username" placeholder="username">
                <input type="text" name="Password" placeholder="password">
                <br>
                <input type="submit" name="Submit" value="Submit"/>
            </div>
        <br>
        <br>
        <div class="lang_picker">
            <button id="shell_butt" type="submit" name="Shell" value="Shell"><img src="../static/images/bash.png"/></button>
            <button id="python_butt" type="submit" name="Python" value="Python"><img src="../static/images/python.png"/></button>
            <button id="javascript_butt" type="submit" name="Javascript" value="Javascript"><img src="../static/images/js.png"/></button>
            <button id="node-axios_butt" type="submit" name="Node-axios" value="Node-axios"><img src="../static/images/node-js.png"/></button>
            <button id="php_butt" type="submit" name="Php" value="Php"><img src="../static/images/php.png"/></button>
            <button id="go_butt" type="submit" name="Go" value="Go"><img src="../static/images/go.png"/></button>
            <button id="r_butt" type="submit" name="R" value="R"><img src="../static/images/r.png"/></button>
            <button id="ruby_butt" type="submit" name="Ruby" value="Ruby"><img src="../static/images/ruby.png"/></button>
            <button id="rust_butt" type="submit" name="Rust" value="Rust"><img src="../static/images/rust.png"/></button>
            <button id="csharp_butt" type="submit" name="Csharp" value="Csharp"><img src="../static/images/csharp.png"/></button>
            <button id="elixir_butt" type="submit" name="Elixir" value="Elixir"><img src="../static/images/elixir.png"/></button>
            <button id="dart_butt" type="submit" name="Dart" value="Dart"><img src="../static/images/dart.png"/></button>
            <button id="matlab_butt" type="submit" name="Matlab" value="Matlab"><img src="../static/images/matlab.png"/></button>
        </div>
        </form>
        <br>
        <div style="display: block;" class="playground">
            <div class="code_mirror" id="code">
                <pre><code>{{ code }}</code></pre>
            </div>
            <div class="tooltip">
                <input class="copy_butt" type="image" src="../static/images/copy.png" onclick="copy('code')" onmouseout="tooltipReset()">
                <span class="tooltiptext" id="myTooltip">Copy</span>
            </div>
        </div>
        <script src="../static/styles/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        <script>            
            function copy(id) {
                var r = document.createRange();
                r.selectNode(document.getElementById(id));
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(r);
                document.execCommand('copy');
                window.getSelection().removeAllRanges();

                var tooltip = document.getElementById("myTooltip");
                tooltip.innerHTML = "Copied!";
                var tooltip1 = document.getElementById("myTooltip1");
                tooltip1.innerHTML = "Copied!";
            }

            function tooltipReset() {
                var tooltip = document.getElementById("myTooltip");
                tooltip.innerHTML = "Copy";
                var tooltip1 = document.getElementById("myTooltip1");
                tooltip1.innerHTML = "Copy";
            }
        </script>
    </body>
</html>
