<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Helbreder</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <h1>&#128137;</h1>
        <p>{{ welc }}</p>
        <br>
        <div class="row">
            <div class="column">
                <button id="butt" type="button">{{ kubernetes }}</button> 
                <br>
                <button id="butt1" type="button">{{ server }}</button> 
            </div>
            <div class="column">
                <div id="actions"></div>
            </div>
            <div class="column">
                <div id="targets"></div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            $("#butt").mouseup(function(){
                var kuber = "kubernetes"
                $.ajax({
                    url: "/actions",
                    type: "get",
                    data: {jsdata: kuber},
                    success: function(response) {
                        $("#actions").html(response);
                    },
                    error: function(xhr) {
                        //handle error
                    }
                    });
                $.ajax({
                    url: "/targets",
                    type: "get",
                    data: {jsdata: kuber},
                    success: function(response) {
                        $("#targets").html(response);
                    },
                    error: function(xhr) {
                        //handle error
                    }
                    });
            });  

            $("#butt1").mouseup(function(){
                var serv = "server"
                $.ajax({
                    url: "/actions",
                    type: "get",
                    data: {jsdata: serv},
                    success: function(response) {
                        $("#actions").html(response);
                    },
                    error: function(xhr) {
                        //handle error
                    }
                    });
                $.ajax({
                    url: "/targets",
                    type: "get",
                    data: {jsdata: serv},
                    success: function(response) {
                        $("#targets").html(response);
                    },
                    error: function(xhr) {
                        //handle error
                    }
                    });
            });  
        </script>
    </body>
</html>