<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Helbreder</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <h1>&#128137;</h1>
        <br>
        <div class="row">
                <div class="column">
                    <p>Choose a module:</p>
                    <br>
                    <button class="module_butt" type="submit">{{mod1}}</button>
                    <br>
                    <button class="module_butt" type="submit">{{mod2}}</button>
                </div>
            <form action="actions" method="post">
                <div class="column">
                    <p>Choose an action:</p>
                    <!-- WIP
                        {% for message in get_flashed_messages()%}
                        <button class="action_butt" type="button">{{message}}</button> 
                    {% endfor %} -->
                </div>
            </form>
            <form action="targets" method="post">
                <div class="column">
                    <p>Choose a target:</p>
                    <!-- WIP
                        {% for message in get_flashed_messages()%}
                        <button class="target_butt" type="button">{{message}}</button> 
                    {% endfor %}-->
                </div>
            </form>
        </div>
        <br>
        <!-- WIP
            <div class="summary">
            <p>I welcome you {{ module }} and I'm gonna do to you {{ action }} on your {{ target }}</p>
        </div>-->
    </body>
</html>