<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Helbreder</title>
      <link rel="stylesheet" href="{{ url_for('static',filename='styles/github-dark.min.css') }}">
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
   </head>
   <body>
        <header>
            <div class="radio-btn">
                <div class="radio-inner"></div>
            </div>
            <nav class="navbar">
               <a href="{{ url_for('static_main') }}" class="navbar-item">Home</a>
               <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
               <a href="{{ url_for('signup') }}" class="navbar-item">Sign Up</a>
               <a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
            </nav>
            <p class="syringe">&#128137;</p>
        </header>
      <br>
      <form action="/" method="post">
         <section class="main-form">
            <div class="row">
               <div class="column">
                  <p>Choose a module:</p>
                  {{ module | safe }}
               </div>
               <div class="column">
                  <p>Choose an action:</p>
                  {{ action | safe }}
               </div>
               <div class="column">
                  <p>Choose a target kind:</p>
                  {{ target | safe }}
               </div>
            </div>
            <div class="target">
               <p>Additional:</p>
               {{ additional | safe }}
            </div>
            <div class="user">
               <p>Authentication:</p>
               <input type="text" name="Username" placeholder="username">
               <input type="text" name="Password" placeholder="password">
               <br>
               <input type="submit" name="Submit" value="Submit"/>
            </div>
            <div class="lang_picker">
               {{ languages | safe }}
            </div>
         </section>
      </form>
      <div id="code"></div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script>
         $("button").mouseup(function(){
             var code = $(this).val();
             $.ajax({
                 url: "/code",
                 type: "get",
                 data: {code: code},
                 success: function(response) {
                     $("#code").html(response);
                 },
                 });
             });
      </script>
      <script>
         if (localStorage.getItem("darkmode") === 'true'){
             $(".radio-inner").toggleClass("active");
             $("body").toggleClass("dark-theme");
         }
         $(document).ready(function (){
             $(".radio-btn").click(function (){
                 $(".radio-inner").toggleClass("active");
                 $("body").toggleClass("dark-theme");
                 let active = $("body").hasClass("dark-theme");
                 localStorage.setItem("darkmode", active);
             });
         });
      </script>
   </body>
</html>