<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Login</title>
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
   </head>
   <body>
    <header>
        <div class="radio-btn">
            <div class="radio-inner"></div>
        </div>
        <nav class="navbar">
            {% if not current_user.is_authenticated %}
            <a class="navbar-item">Login</a>
            <a href="{{ url_for('signup') }}" class="navbar-item">Sign Up</a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('user_panel') }}" class="navbar-item">Panel</a>
                <a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
            {% endif %}
        </nav>
        <center>
            <a href="{{ url_for('static_main') }}" class="syringe">&#128137;</a>
        </center>
    </header>
    <br>
    <div class="column-center">
        <p>Login</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3> {{ message }} </h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        <form method="POST" action="/login">
            <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
            <br>
            <input class="input is-large" type="password" name="password" placeholder="Your Password">
            <br>
            <input type="checkbox" name="remember">
            <b>Remember me</b>
            <br>
            <input type="submit" class="button" name="Login" value="Login"></input>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        if (localStorage.getItem("darkmode") === 'true'){
            $(".radio-inner").toggleClass("active");
            $("body").toggleClass("dark-theme");
        }
        $(document).ready(function (){
            $(".radio-btn").click(function (){
                $(".radio-inner").toggleClass("active");
                $("body").toggleClass("dark-theme");
                let active = $("body").hasClass("dark-theme");
                localStorage.setItem("darkmode", active);
            });
        });
     </script>
    </body>
</html>