<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Login</title>
      <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
   </head>
   <body>
    <header>
        <div class="radio-btn">
            <div class="radio-inner"></div>
        </div>
        <nav class="navbar">
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
            <a href="{{ url_for('signup') }}" class="navbar-item">Sign Up</a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <a class="navbar-item">Panel</a>
                <a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
            {% endif %}
        </nav>
        <center>
            <a href="{{ url_for('static_main') }}" class="syringe">&#128137;</a>
        </center>
    </header>
    <br>
    <div class="column-center">
        <p>Stats:</p>
        <br>
        <form method="POST" action="/panel">
            <input class="input is-large" type="text" name="ip" placeholder="IP" autofocus="">
            <br>
            <input class="input is-large" type="text" name="user" placeholder="User">
            <br>
            <input class="input is-large" type="text" name="cpu_num" placeholder="CPU number">
            <br>
            <input type="submit" class="button" name="Submit" value="Submit"></input>
        </form>
        <p>All requests: {{ requests | safe }}</p>
        <a>Kubernetes: {{ kubernetes | safe }}</a>
        <a>Server: {{ server | safe }}</a>
        <a>Postgresql: {{ postgresql | safe }}</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        if (localStorage.getItem("darkmode") === 'true'){
            $(".radio-inner").toggleClass("active");
            $("body").toggleClass("dark-theme");
        }
        $(document).ready(function (){
            $(".radio-btn").click(function (){
                $(".radio-inner").toggleClass("active");
                $("body").toggleClass("dark-theme");
                let active = $("body").hasClass("dark-theme");
                localStorage.setItem("darkmode", active);
            });
        });
     </script>
    </body>
</html>