body {
    background: rgb(26,26,26);
    background: radial-gradient(circle, rgb(209, 206, 206) 0%, rgb(108, 106, 106) 100%);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-weight: 600;
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 70px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
  
.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

.user {
    text-align: center;
    padding-top: 4em;
}

.lang_picker {
    text-align: center;
}

input {
    background-color: rgb(108, 106, 106);
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 10px;
}

input:hover {
    cursor: pointer;
}

button {
    background: none;
    display: inline-block;
    width: 60px;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: top;
    border: none;
}

button:hover {
    cursor: pointer;
}

#shell_butt img{
    display: block;
    width: 70px;
    margin-left: 15px;
}

#python_butt img{
    display: block;
    width: 90px;
}

#javascript_butt img{
    display: block;
    width: 70px;
}

#node-axios_butt img{
    display: block;
    width: 70px;
}

#php_butt img{
    display: block;
    width: 70px;
}

#go_butt img{
    display: block;
    width: 80px;
}

#r_butt img{
    display: block;
    width: 70px;
}

#ruby_butt img{
    display: block;
    width: 70px;
}

#rust_butt img{
    display: block;
    width: 70px;
}

#csharp_butt img{
    display: block;
    width: 70px;
}

#elixir_butt img{
    display: block;
    width: 70px;
}

#dart_butt img{
    display: block;
    width: 70px;
}

#matlab_butt img{
    display: block;
    width: 70px;
}

.copy_butt {
    background: none;
    width: 30px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: rgb(108, 106, 106);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.lang_butt:focus {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgb(20, 240, 0);
}

.target_butt:focus {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgb(20, 240, 0);
}

.module_butt:focus {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgb(20, 240, 0);
}

.action_butt:focus {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgb(20, 240, 0);
}

.playground {
    background: #0d1117;
    color-scheme: dark;
    border-radius: 20px;
    width: 50%;
    height: 380px;
    margin-left: 25%;
    line-height: 150%;
}

.playground input {
    margin-left: 0%;
}

.code_mirror {
    overflow: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 100%;
    font-size: 12px;
    width: 100%;
    color: white;
    position: relative;
    direction: ltr;
}

.cm-linerow {
    text-indent: 0;
    position: relative;
}

.cm-lineNumber, .cm-builtin, .cm-attribute, .cm-string, .cm-variable {
    color: #adaacc;
    min-width: 30px;    
    display: inline-block;
    padding: 0 6px 0 10px;
    right: auto;
    text-align: right;
}

.cm-lineNumber {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cm-builtin {
    color: #FFCB6B;
}

.cm-attribute {
    color: #C792EA;
}

.cm-string {
    color: #C3E88D;
}

.cm-variable {
    color: #f07178;
}

::placeholder { 
    color: white;
    opacity: 0.5; 
}
  
:-ms-input-placeholder { 
    color: white;
}
  
::-ms-input-placeholder {
    color: white;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}
