body {
    background: rgb(26,26,26);
    background: linear-gradient(90deg, rgb(209, 206, 206) 0%, rgb(108, 106, 106) 100%);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-weight: 600;
    font-size: 30px;
    margin-left: 5rem;
}

h1 {
    text-align: center;
    font-size: 70px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 25%;
    margin-left: 5rem;
  }

button {
    background-color: rgb(108, 106, 106);
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 10px;
}

button:hover {
    border: 2px;
    border-color: rgb(209, 206, 206);
    cursor: pointer;
}